@model IEnumerable<WorkshopManager.Domain.Entities.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Nuevo Cliente
    </a>
</p>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cliente.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@cliente.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>